@model IEnumerable<WebQuanLyNhaHang.Models.DonHang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GioVao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioRa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ban)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Km)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nv)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GioVao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioRa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ban.BanId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kh.KhId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Km.KmId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nv.NvId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DhId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DhId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DhId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
