@model WebQuanLyNhaHang.ViewModel.ViewModelCart
@{
    int? DhId = Context.Session.GetInt32("DhId");
    int? BanId = Context.Session.GetInt32("BanId");
}

    <div class="container__card">
    @foreach (var item in Model.CTHD_PctByDh(DhId))
          {
              <div class="bought--item">
                  <div class="item-editor">
                      <div class="item-box">
                          <div class="item-inner--right">
                              <div class="card-img" style="background-image: url(@item.PathPhoto);">
                              </div>
                              <div class="card-product-info">
                                  <span>
                                      <span style="color: var(--primary--color)">@item.SoLuong x</span> @item.TenSanPham
                                  </span>
                                  <span class="card-product--description">
                                      @item.Condition
                                  </span>
                                  <span class="card-product--price">
                                @String.Format("{0:N0}", item.ThanhTien)đ
                                  </span>
                              </div>
                          </div>
                          <div class="item-inner--left">
                              <div class="btn-remove" id="cart__btn-remove" data-id="@item.CthdId">
                                  <i class="fa-solid fa-xmark"></i>
                              </div>
                              <div class="btn-edit">
                                  <span>edit</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          }

    </div>

     <div class="card__total-price">
                <div>Tổng Tiền</div>
                <div>@String.Format("{0:N0}", @Model.TongtienById(DhId).TongTien)đ</div>
     </div>
     @if(@Model.TongtienById(DhId).TongTien != 0){
          <div class="btn-sumbit">
                <a asp-controller="Home" asp-action="OrderSuccess">
                    <button class="buy__item outline" style="background-color: rgb(247, 148, 30); height: 44px;">
                        Gửi yêu cầu gọi món
                    </button>
                </a>
            </div>
     }
           
     